// Type

$font-text-main: "EB Garamond", "Cambria", "Times", serif !default;
$font-text-secondary: $font-text-main !default;
$font-display-main: "Josefin Sans", $font-text-main !default;
$font-display-secondary: $font-display-main !default;

$font-size-default: 11pt !default;
$line-height-default: 14pt !default;

// Page

$page-width: 129mm !default;
$page-height: 198mm !default;
$margin-top: $line-height-default * 4 !default;
$margin-bottom: 45pt !default;
$margin-outside: 15mm !default;
$margin-inside: 15mm !default;
$text-align: left !default;
$pdf-sidebar: false !default;
$start-depth: $line-height-default * 10 !default;
$start-depth-page-styles: halftitle-page, half-title-page, title-page, dedication-page, epigraph-page, part-page, default-page !default;

// Colours

$color-accent: $near-black !default;
$color-text-main: $near-black !default;
$color-buttons: $midnight-blue !default;

// Margin boxes

$frontmatter-reference-style: decimal !default;

$verso-top: string(book-title) !default;
$recto-top: string(book-title) !default;
$verso-top-frontmatter: $verso-top !default;
$recto-top-frontmatter: $recto-top !default;
$verso-bottom-frontmatter: counter(page, $frontmatter-reference-style) !default;
$recto-bottom-frontmatter: counter(page, $frontmatter-reference-style) !default;

$verso-top-left-frontmatter: normal !default;
$recto-top-right-frontmatter: normal !default;
$verso-bottom-left-frontmatter: normal !default;
$recto-bottom-right-frontmatter: normal !default;

$header-font: $font-display-main !default;
$footer-font: $font-display-main !default;
$header-font-size: 7pt !default;
$footer-font-size: 7pt !default;
$header-text-align: center !default;
$footer-text-align: center !default;
